/* ================================= 
  Container
==================================== */

.l-site-container {
    width: 100%;
    margin: 0 auto;
}

.l-container {
    padding: 0 1rem;

    /* ======================== 
    Container--Modifiers
    =========================== */
    &--top-49 {
        @media (min-width: $break-m) {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            padding: 0 0 0 2rem;
        }
    }

    &--full {
        @media (min-width: $break-m) {
            padding: 0;
        }
    }
}
