/* ================================= 
  footer
==================================== */

.l-footer {
    background-color: #f9f8f6;
}

.footer {
    background-color: #f9f8f6;
    margin-top: 1rem;

    &__line {
        border-bottom: #000 solid 1px;
        margin: 0.25rem 0;
    }

    &-social {
        padding: 2rem 0;
    }

    &-email,
    &-bottom {
        padding: 1rem 0;
    }
}
