/* ================================= 
  Header 
==================================== */

.l-header {
    width: 100%;
    padding: 0.25rem 0 0;
    border-bottom: #dedede solid 4px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1rem 2.5rem;

    @media (min-width: $break-m) {
        padding: 1rem;
    }
}
