/* ================================= 
  Hero
==================================== */

.l-hero {
    margin-bottom: 3rem;
    background-color: $alt-color;
    @media (min-width: $break-s) {
        padding: 0 1rem;
    }

    @media (min-width: $break-m) {
        margin-top: 1rem;
    }

    &__copy {
        margin: 2rem 0;
    }
}
