/* ================================= 
  Hero - Layout
==================================== */

.l-hero {
    background-color: $alt-color;
    height: 100vh;

    @media (min-width: $break-m) {
        height: auto;
    }
}
