/* ================================= 
  Nav
==================================== */

.nav {
  display: block;
  margin-top: .5rem;
  
  &__ul{
    display: none;
  }
  
  @include list-style;
}


/* ================================= 
  Mobile Nav
==================================== */
.mobile-nav {
  display:none;
  
  &__ul {
    max-width: 480px;
    margin: auto;
    background-color: #1e1e1e;
    height: 325px;
    color: white;
    padding: 1rem 0;
  }
  
  &__link {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    
    &:hover {
      background-color: #ddd;
      color: #000;
    }
    
    &:active {
      background: #2B8815;
        color: #fff;
    }  
      
  }
  
  &__btn {
    margin-top: -4px;
    margin-right: .75rem;
  }
  
  &__bar {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #006341;
    margin: 8px 0;
  }
  
}


