/* ================================= 
  Rewards
==================================== */

.rewards {
  
  &__container {
    color: #fff;
    background-color: #1f3933;
  }
  
  &__a {
    height: 225px;
  }
  
  &__img {
    background: #1f3933 url('https://globalassets.starbucks.com/assets/f8402ac7d48640b88543d5fa84d6679b.jpg') no-repeat center;
    background-size: contain;
    height: 575px;
    width: 100%;
  }
  
  &__overlay {
    text-align: center;
    padding-top: 225px;
  }
  
  &__h2 {
    font-size: 32px;
  }
  
}