/* ================================= 
  Variables
==================================== */
/* ================================= 
  Mixins
==================================== */
/* ================================= 
  Media Queries
==================================== */
/* ================================= 
  Functions
==================================== */
/* ================================= 
  Global
==================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

/* ================================= 
  Container
==================================== */
.site-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  padding: 0 1rem;
}

/* ================================= 
  Header
==================================== */
.header {
  padding: 0.5rem 0 0;
  width: 100%;
}

/* ================================= 
  Hero
==================================== */
.site-title {
  font-size: 30px;
  text-align: center;
  line-height: 1.4;
  margin: 0.5rem 0 1rem;
}
@media (min-width: 414px) {
  .site-title {
    margin: 1.5rem 0;
  }
}

.hero__p {
  margin: 0.75rem 0 1.75rem;
}
@media (min-width: 414px) {
  .hero__p {
    margin: 1.5rem 0 2rem;
  }
}

/* ================================= 
  Main
==================================== */
/* ================================= 
  footer
==================================== */
.footer {
  background-color: #f9f8f6;
  margin-top: 1rem;
}
.footer__container {
  padding: 0 1rem;
}
.footer__line {
  border-bottom: #000 solid 1px;
  margin: 1rem 0;
}
.footer__email, .footer__social {
  margin: 3rem 0;
}

/* ================================= 
  Header icon
==================================== */
.header-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  padding: 0 0.5rem;
}
@media (min-width: 414px) {
  .header-icon {
    margin-top: 0.25rem;
  }
}
@media (min-width: 768px) {
  .header-icon {
    margin: -1rem 1rem 0;
  }
}
.header-icon__img {
  width: 60px;
  height: 60px;
}
.header-icon__btn {
  margin-top: -4px;
  margin-right: 0.75rem;
}
.header-icon__menu-bar {
  display: block;
  height: 3px;
  width: 40px;
  background-color: #006341;
  margin: 8px 0;
}

/* ================================= 
  Nav
==================================== */
.nav {
  margin-top: 0.5rem;
}
.nav-desk, .nav-mobile {
  display: none;
}
.nav-mobile__ul, .nav-mobile__link, .nav-mobile__link:active {
  color: #fff;
}
.nav-mobile__ul {
  max-width: 480px;
  margin: auto;
  background-color: #1e1e1e;
  height: auto;
  padding: 1rem 0;
}
.nav-mobile__link {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.nav-mobile__link:hover, .nav-mobile__link:active {
  background-color: #ddd;
  color: #000;
}

/* ================================= 
  Nutri 
==================================== */
.nutri__label {
  display: block;
  color: #929292;
  font-size: 14px;
}
.nutri__sel {
  background: url("../img/icons/arrow.png") no-repeat 95% 95%;
  background-size: 25px;
}
.nutri__sel-input {
  display: block;
  font-size: 18px;
  font-weight: 900;
  width: 100%;
}
.nutri-table__p {
  border-bottom: 5px solid #dedede;
}
.nutri-table__row {
  border-bottom: 1px solid #dedede;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 50% 1fr;
}
.nutri-table__span-l {
  text-align: left;
}
.nutri-table__span-r {
  text-align: right;
}
.nutri-table__span-sub {
  margin-left: 2rem;
}
.nutri-table__bottom {
  margin-top: 1.5rem;
}
.nutri-table__bottom p {
  margin: 0.25rem 0;
}

/* ================================= 
  Feat
==================================== */
.feat {
  margin: 3rem 0;
}
.feat__h2 {
  margin: 1.5rem 0 0.5rem;
}
.feat__sub-header {
  margin: 0;
  font-style: italic;
}

/* ================================= 
  Rewards
==================================== */
.rewards__container {
  color: #fff;
  background-color: #1f3933;
}
.rewards__img {
  background: #1f3933 url("../img/rewards-bg.jpg") no-repeat;
  background-size: 900px;
  background-position: 25% 5%;
  height: 525px;
  width: 100%;
}
.rewards__a {
  height: 225px;
}
.rewards__overlay {
  text-align: center;
  padding-top: 200px;
}
.rewards__h2 {
  font-size: 32px;
}
.rewards__p {
  margin-bottom: 3rem;
}

/* ================================= 
  Ul Module
==================================== */
.ul {
  padding: 0;
}
.ul__li {
  display: inline-block;
}
.ul__link {
  color: #000;
  text-decoration: none;
}
.ul__link--font-s {
  font-size: 12px;
}
.ul--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul--center {
  margin: 0 auto;
  width: 50%;
}
.ul--social {
  width: 50%;
}
.ul--social__li {
  height: 30px;
  width: 30px;
}
.ul--footer li {
  padding: 0.5rem 0;
}
.ul--footer span {
  cursor: pointer;
}

/* ================================= 
  BTN
==================================== */
.btn {
  text-align: center;
}
.btn__link {
  text-decoration: none;
  color: #000;
}
.btn__link--txt-wh {
  color: #fff;
}
.btn__label {
  border: #006341 solid 2px;
  border-radius: 5px;
  padding: 0.75rem;
}

/* ================================= 
  Img
==================================== */
.img__media {
  height: 100%;
  width: 100%;
}

/* ================================= 
  Card
==================================== */
/* ================================= 
  Form
==================================== */
.form__input {
  background-color: #fff;
  border: #d2d2d2 solid 1px;
  border-radius: 5px;
  padding: 0.25rem;
  width: 100%;
  margin: 0 0.75rem 0.5rem 0;
  line-height: 1.8;
}
.form__input[value] {
  color: #b3b3b3;
}
.form__email {
  max-width: 290px;
}
.form__zip {
  max-width: 100px;
}
.form__submit {
  background-color: #3d3935;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: block;
  width: 150px;
  font-size: 16px;
  margin-top: 0.5rem;
  cursor: pointer;
}

/* ================================= 
  Btn Styles
==================================== */
.btn__feat {
  margin-top: 3rem;
}
.btn__feat-a {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
