/* ================================= 
  Variables
==================================== */

/* ========================= 
  Breakpoints
============================ */

// Small devices
$break-s: 375px;

// Medium devices
$break-m: 768px;

// Large devices
$break-l: 1024px;

// Extra large devices
$break-xl: 1440px;

// Retina devices
$break-ret: 1920px;

// Retina 2 devices
$break-4k: 2560px;

/* ========================= 
  Colors
============================ */

$primary-color: #006f44;

$secondary-color: #3d3935;

$tertiary-color: #f9f8f6;

$alt-color: #1e3932;
