/* ================================= 
  Global
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

p {
  line-height: 1.8;
  font-size: 16px;
}