/* ================================= 
  btn module
==================================== */
.m-btn {
    text-align: center;

    &__link {
        text-decoration: none;
    }

    &__label {
        border: $tertiary-color solid 2px;
        border-radius: 5px;
        padding: 0.75rem;
        color: $tertiary-color;
    }
}
