/* ================================= 
  Card
==================================== */

.card {
    &__title {
        margin: 1.5rem 0 0;
    }

    &__sub-title {
        margin: 0 0 1rem;
        font-style: italic;
    }
}

.inner-card {
    &__copy {
        font-size: 13px;
    }
}
