/* ================================= 
  Copy
==================================== */

.copy {
    margin: 1rem 0 0;

    /* ======================== 
    Copy--Modifiers
    =========================== */
    &--hero {
        margin: 1.5rem 0 2.25rem;

        @media (min-width: $break-s) {
            margin: 2rem 0 3rem;
        }

        @media (min-width: $break-m) {
            margin: 0.5rem 0 2rem;
        }
    }

    &--no-margin {
        margin: 0;
    }

    &--bottom-margin {
        margin-bottom: 2rem;
    }
}
