/* ================================= 
  Form
==================================== */

.form {
    /* ======================== 
    Form__Elements
    =========================== */

    &__input {
        background-color: #fff;
        border: #d2d2d2 solid 1px;
        border-radius: 5px;
        padding: 0.25rem;
        width: 100%;
        margin: 0 0.75rem 0.5rem 0;
        line-height: 1.2;

        &[value] {
            color: #b3b3b3;
        }
    }

    &__email {
        max-width: 220px;
    }

    &__zip {
        max-width: 100px;
    }

    &__submit {
        background-color: #3d3935;
        color: #fff;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        display: block;
        width: 150px;
        font-size: 16px;
        margin-top: 0.5rem;
        cursor: pointer;
    }

    &__link {
        font-weight: 900;
        text-decoration: none;
        border-bottom: 1px dotted;
        color: #000;
    }
}
