/* ================================= 
  List
==================================== */

.list {
    display: flex;
    justify-content: space-between;

    /* ======================== 
    List Element
    =========================== */

    &__link {
        color: #000;
        text-decoration: none;
    }

    /* ========================= 
    list--modifiers 
    ============================ */

    &--mobile {
        flex-direction: column;
        max-width: 480px;
        background-color: #1e1e1e;
        padding: 1rem 0;

        &__link,
        &__link:active {
            color: #fff;
        }

        &__link {
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            text-align: center;
            text-transform: uppercase;

            &:hover,
            &:active {
                background-color: #ddd;
                color: #000;
            }
        }
    }

    &--social {
        width: 100%;

        @media (min-width: $break-m) {
            width: 70%;
        }

        &__li {
            height: 30px;
            width: 30px;
        }
    }

    &--footer {
        flex-direction: column;
        align-items: flex-start;
        line-height: 2.75;

        @media (min-width: $break-m) {
            flex-direction: row;
            width: 90%;
        }

        &__li {
            padding: 0.5rem 0;
        }

        &__span {
            cursor: pointer;
        }
    }
}
