/* ================================= 
  Mobile Menu
==================================== */

.mobile-menu {
    width: 34px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $break-m) {
        display: none;
    }

    /* ======================== 
    Mobile Menu__Elements
    =========================== */

    &__bar {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #006341;
    }
}
