/* ================================= 
  nav module
==================================== */

.m-nav {
    margin-top: 0.5rem;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 13;

    @media (min-width: $break-m) {
        margin-top: 1rem;
        grid-row-start: 2;
        grid-column-start: 3;
        grid-column-end: 13;
    }

    &__desk,
    &__mobile {
        display: none;
    }

    &__desk {
        @media (min-width: $break-m) {
            display: block;
            /* width: 90%;
            padding: 0 2rem;
            float: right;
            margin-top: -2rem;*/
            font-size: 18px;
        }
    }
}
