/* ================================= 
  Nav
==================================== */
.nav {
    margin-top: 0.5rem;

    &-desk,
    &-mobile {
        display: none;
    }

    &-mobile {
        &__ul,
        &__link,
        &__link:active {
            color: #fff;
        }

        &__ul {
            max-width: 480px;
            margin: auto;
            background-color: #1e1e1e;
            height: auto;
            padding: 1rem 0;
        }

        &__link {
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            text-align: center;
            text-transform: uppercase;

            &:hover,
            &:active {
                background-color: #ddd;
                color: #000;
            }
        }
    }
}
