/* ================================= 
  Card
==================================== */

.sec-card {

    &__title {
        margin: 1.5rem 0 0.5rem;
    }

    &__sub-title {
        margin: 0 0 1rem;
        font-style: italic;
    }
}
