/* ================================= 
  Ul Module
==================================== */

.ul {
    padding: 0;

    &__li {
        display: inline-block;
    }

    &__link {
        color: #000;
        text-decoration: none;
    }
 
}


.social-list {
  width: 50%;
  
  &__li {
      height: 30px;
      width: 30px;
  }
  
}

.footer-list {
    &__li {
        padding: 0.5rem 0;
    }

    &__span {
        cursor: pointer;
    }
}