/* ================================= 
  Utilities
==================================== */

.m-utilities {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 11;
    margin: 0 auto;
    width: 85%;
    font-size: 12px;

    @media (min-width: $break-m) {
        grid-column-start: 9;
        grid-column-end: 13;
        margin: 0;
        width: 100%;
    }
}
